## Diabetes Challenge!
### Machine Learning in Health
Diabetes is a condition that impairs the body's ability to process blood glucose, otherwise known as blood sugar. In the United States, the estimated number of people over 18 years of age with diagnosed and undiagnosed diabetes is 30.2 million. The figure represents between 27.9 and 32.7 percent of the population.

Without ongoing, careful management, diabetes can lead to a buildup of sugars in the blood, which can increase the risk of dangerous complications, including stroke and heart disease.

Different kinds of diabetes can occur, and managing the condition depends on the type. Not all forms of diabetes stem from a person being overweight or leading an inactive lifestyle. In fact, some are present from childhood.

### Challenge

In this problem you are given a Diabetes Data set consisting of following features -

['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome']

and your task is to predict whether a person is suffering from diabetes or not (Binary Classification)

**Tasks**

1) Plot a bar graph showing number of classes and no of examples in each class.

2) Classification Task, classify a person as 0 or 1 (Diabetic or Not) using K-Nearest Neighbors classifier.

In [1]:
import pandas as pd

In [2]:
df_X = pd.read_csv("Diabetes_XTrain.csv")

In [3]:
df_X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,7,168,88,42,321,38.2,0.787,40
1,8,110,76,0,0,27.8,0.237,58
2,7,147,76,0,0,39.4,0.257,43
3,2,100,66,20,90,32.9,0.867,28
4,4,129,86,20,270,35.1,0.231,23

In [4]:
df_y = pd.read_csv("Diabetes_YTrain.csv")

In [7]:
df_y.head()

   Outcome
0        1
1        0
2        1
3        1
4        0

In [5]:
X_test = pd.read_csv("Diabetes_Xtest.csv").values

In [6]:
from sklearn.neighbors import KNeighborsClassifier

In [7]:
X_train = df_X.values
y_train = df_y.values.reshape(-1)

In [8]:
model = KNeighborsClassifier(15)

In [9]:
model.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=15, p=2,
                     weights='uniform')

In [79]:
res = model.predict(X_test)

In [80]:
result = pd.DataFrame(data=res[:,],columns=["Outcome",])

In [81]:
result.head()

   Outcome
0        0
1        0
2        0
3        0
4        0

In [82]:
result.to_csv("submission.csv",index=False)